
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  color: #000;
  background-color: #F4F4F4;
  min-height: 100vh;
}



// Media queries start

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

// Media queries end